body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    text-align: center;
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

#task-input {
    padding: 10px;
    width: 50%;
    font-size: 16px;
}

#add-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
}

#add-btn:hover {
    background-color: #3e8e41;
}

#task-list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.task {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.remove-btn {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
}

.remove-btn:hover {
    background-color: #e91e63;
}